<!DOCTYPE html>
<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
    <h1>Address Book</h1>
    <p>Welcome to our address book. Here you can store and retrieve you addresses and simplify your life.</p>
    <form class="" action="/" method="post">
      <button type="submit" name="view_contacts">view contacts</button>  
    </form>
  </body>
</html>
