
body {
  background-color: green;
}
button {
  margin-top: 10px;
}
bottom-nav {
  background-color: navy;
}
.jumbotron {
  background-color: lightgreen;
}
.container {
  margin-top: 20px;
}
.red {
  background-color: salmon;
}
